.btn {
    padding: 5px 20px;
    font-size: 20px;
    font-family: $fuente;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    color: $blanco;
    cursor: pointer;
    i {
        margin-right: 10px;
    }
    &-linkedin {
        background-image: linear-gradient(to right, #0056BC, #003675);
        box-shadow: 0 0 10px rgba(0, 25, 254, 0.25);
        transition: background-image 0.3s ease, box-shadow 0.3s ease;
    
        &:hover {
            box-shadow: 0 0 15px rgba(0, 25, 254, 0.5);
        }
    }
    
    
    
    &-github {
        background-image: linear-gradient(to right, #FF0000, #8D0000);
        box-shadow: 0 0 10px rgba(255, 0, 0, 0.25);
        transition: background-image 0.3s ease, box-shadow 0.3s ease;
    
        &:hover {
            box-shadow: 0 0 15px rgba(255, 0, 0, 0.5);
        }
    }
    &-resume {
        background-color: #029232;
        box-shadow: 0 0 10px rgba(0, 25, 254, 0.25);
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
    
        &:hover {
            box-shadow: 0 0 15px rgba(0, 199, 66, 0.25);
        }
    }
}