* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  background-image: linear-gradient(to bottom, #010F1F, #023B7A);
  font-family: "Kumbh Sans", sans-serif;
}

.app {
  width: 1000px;
}
@media screen and (max-width: 768px) {
  .app {
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: #fff;
}

main {
  padding: 200px 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 200px;
}

.laravel {
  color: #FF2D20;
}

.php {
  color: #4F5D95;
}

.html {
  color: #E34F26;
}

.css {
  color: #1572B6;
}

.vue {
  color: #4FC08D;
}

.js {
  color: #F7DF1E;
}

.sass {
  color: #CC6699;
}

.github {
  color: #FFFFFF;
}

.gitlab {
  color: #FC6D26;
}

.docker {
  color: #2496ED;
}

.figma {
  color: #FF3D00;
}

.dribble {
  color: #EA4C89;
}

.btn {
  padding: 5px 20px;
  font-size: 20px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.btn i {
  margin-right: 10px;
}
.btn-linkedin {
  background-image: linear-gradient(to right, #0056BC, #003675);
  box-shadow: 0 0 10px rgba(0, 25, 254, 0.25);
  transition: background-image 0.3s ease, box-shadow 0.3s ease;
}
.btn-linkedin:hover {
  box-shadow: 0 0 15px rgba(0, 25, 254, 0.5);
}
.btn-github {
  background-image: linear-gradient(to right, #FF0000, #8D0000);
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.25);
  transition: background-image 0.3s ease, box-shadow 0.3s ease;
}
.btn-github:hover {
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.5);
}
.btn-resume {
  background-color: #029232;
  box-shadow: 0 0 10px rgba(0, 25, 254, 0.25);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.btn-resume:hover {
  box-shadow: 0 0 15px rgba(0, 199, 66, 0.25);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: transparent;
  width: 1000px;
  backdrop-filter: blur(4px);
}
header .options {
  display: flex;
  gap: 30px;
}
header .darkMode {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
header .darkMode i {
  color: #fff;
  font-size: 18px;
}
header .idioma {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
header .idioma span {
  color: #fff;
  font-size: 15px;
}
header .links {
  display: flex;
  gap: 10px;
}
header .links-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
header .links-btn i {
  color: #fff;
}
header .links-btn a {
  font-size: 15px;
}
header .links-btn a:hover {
  text-decoration: underline;
}

.presentacion {
  display: grid;
  grid-template-columns: auto 2fr;
  gap: 50px;
}
.presentacion-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.presentacion-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: solid #e6e6e6 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.presentacion-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 5px;
}
.presentacion-info-nombre {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 30px;
}
.presentacion-info-nombre h1 {
  color: #fff;
}
.presentacion-info-nombre span {
  background: linear-gradient(to right, #ff9b06, #fd06e4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.presentacion-info-nombre img {
  height: 70px;
  width: 70px;
}
.presentacion-info-desc {
  display: flex;
}
.presentacion-info-desc p {
  font-size: 20px;
  color: #fff;
}
.presentacion-info-botones {
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 20px;
}

.titulo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.titulo-text {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.titulo-text h3 {
  color: #fff;
  font-size: 25px;
}
.titulo-text img {
  width: 30px;
}
.titulo-hr hr {
  color: #fff;
  opacity: 0.5;
}

.proyectos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}
.proyectos-lista {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px 100px;
  gap: 30px;
}
.proyectos-lista-proyecto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.proyectos-lista-proyecto .img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.proyectos-lista-proyecto .img img {
  width: 370px;
  height: 200px;
  border-radius: 5px;
}
.proyectos-lista-proyecto .img img:hover {
  opacity: 0.5;
  transition: 0.5s;
}
.proyectos-lista-proyecto .info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 20px;
  padding: 5px;
}
.proyectos-lista-proyecto .info-titulo {
  color: #fff;
  font-size: 27px;
  font-weight: 700;
}
.proyectos-lista-proyecto .info-desc {
  color: #fff;
  font-size: 20px;
}
.proyectos-lista-proyecto .info-tech {
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 15px;
}
.proyectos-lista-proyecto .info-tech i {
  font-size: 40px;
}

/*# sourceMappingURL=main.css.map */
